hr{border-top-style: dotted;
    color: #e9ad88;
    border-top-width: 7px;}
  a{
    color: #e9ad88;
  }
  .image{
    border-radius: 20px;
    border-color: white;
    border-width: 20%;
  }
.icon{
  width:20%;
  margin: auto;
}
.btn {
    background: #fc6303;
    background-image: -webkit-linear-gradient(top, #fc6303, #fc6303);
    background-image: -moz-linear-gradient(top, #fc6303, #fc6303);
    background-image: -ms-linear-gradient(top, #fc6303, #fc6303);
    background-image: -o-linear-gradient(top, #fc6303,#fc6303);
    background-image: linear-gradient(to bottom, #fc6303, #fc6303);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    text-align: center;
  }
  
  .btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
  }

  .contact{
    text-align: justify;
    margin-left: 50px;
  }
  .fa {
    padding: 20px;
  text-align: center;
    margin: 5px 2px;
    font-size: 30px;
    width: 50px;
  }
  .fa-facebook {
    background: #3B5998;
    color: white;

  }
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  .fa-pinterest {
    background: #cb2027;
    color: white;
  }
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  .fa-instagram {
    background: #125688;
    color: white;
  }
  .fa-youtube {
    background: #bb0000;
    color: white;
  }
  .fa-google {
    background: #dd4b39;
    color: white;
  }
  .fa-snapchat-ghost {
    background: #fffc00;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }
  .fa-skype {
    background: #00aff0;
    color: white;
  }
  .fa:hover {
      opacity: 0.9;
  }
 
.image{
  z-index: 0;

}
.text{
  z-index: 1;
  margin-top: -150px;
  position: relative;
}
.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */   
  height: 100%;
  width: 0;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  background-color: rgb(0,0,0); /* Black fallback color */
  background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
  position: relative;
  top: 5%; /* 25% from the top */
  width: 100%; /* 100% width */
  text-align: center; /* Centered text/links */
  margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block; /* Display block instead of inline */
  transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
  position: absolute;
  top: 5px;
  right: 15px;
  font-size: 60px;
  z-index: 2;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}
.thumb{
  size: 10%;
}